{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <style>
        .container, body, html {
            height: 100%;
        }
        .index-body {
            height: 100%;
            width: 100%;
            display: table;
            font-weight: bold;
        }
        .index-row {
            display: table-row;
        }
        .index-cell {
            text-align: center;
            display: table-cell;
        }
        .index-message {
            height: 40%;
            vertical-align: middle;
        }
        .index-changes ul {
            text-align: left;
            display: inline-block;
        }
        .latest {
            color: red;
        }
    </style>
{% endblock %}
{% block body %}
<div class="index-body">
    <div class="index-row">
        <div class="index-cell index-message">
            <p>Welcome to HubaoTV administration & management system!</p>
            {% if authenticated %}
            <p>Hello <b>{{ current_user }}</b> !</p>
            {% else %}
            <p>Please <a href="{{ url_for('login.index') }}">login</a> first!</p>
            {% endif %}
        </div>
    </div>
    <div class="index-row">
        <div class="index-cell index-changes">
        </div>
    </div>
</div>
{% endblock %}