{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% block head %}
{{ super() }}
{{ lib.form_css() }}
<style>
    body.modal-open {
        overflow: auto;
    }
    .modal-dialog {
        width: 80%;
    }
    #room-list-table tr {
        cursor: pointer;
    }
</style>
{% endblock %}
{% block body %}
<h2 style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif,'Microsoft Yahei','微软雅黑'">{{ title }}</h2><hr>
<form method="POST" action="{{ action }}" id="edit_form">
    {{ form.hidden_tag() }}
    {{ form.hidden }}

    <div class="form-group">
        {{ form.content.label }}
        {{ form.content(class="form-control", rows="8") }}
    </div>
    <br>

    <div class="row">
        <div class="form-group col-xs-4">
            {{ form.start_time.label }}
            {{ form.start_time(class="form-control") }}
        </div>
        <div class="form-group col-xs-4">
            {{ form.end_time.label }}
            {{ form.end_time(class="form-control") }}
        </div>
        <div class="form-group col-xs-2">
            {{ form.interval.label }}
            <div class="input-group">
            {{ form.interval(class="form-control") }}
            <div class="input-group-addon">分钟</div>
            </div>
        </div>
    </div>
    <br>
    <label>范围</label><br>
    <div class="btn-group" role="group">
        <button type="button" class="btn" id="all-btn">全部</button>
        <button type="button" class="btn" id="tag-btn" data-toggle="modal" data-target="#tag-modal">分类</button>
        <button type="button" class="btn" id="spec-btn" data-toggle="modal" data-target="#spec-modal">指定</button>
    </div>
    <div>
        {{ form.range(class="hide") }}
    </div>
    <br>
    <div class="form-group">
        <textarea class="form-control" id="display-panel" name="display-panel" readonly>{% if display_value %}{{ display_value }}{% endif %}</textarea>
    </div>
    <div class="form-group">
        {{ form.target(class="form-control hide") }}
    </div>
    <br>
    {{ form.save(class="btn btn-primary") }}
    <a href="{{ cancel }}">{{ form.cancel(class="btn btn-default", type="button") }}</a>
</form>
<div class="modal fade" id="tag-modal" tabindex="-1" role="dialog">
    <div style="display:table;height:100%;width:100%;">
        <div class="modal-dialog" role="document" style="display:table-cell;vertical-align: middle;">
            <div class="modal-content" style="width:inherit;height:inherit;margin: 0 auto;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">请选择分类</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <label>主播分类</label>
                        <div class="form-group">
                            <div id="compere-tag-select" class="form-control select2-container select2-container-multi populate"></div>
                        </div>
                        <div id="compere-tag-btn" class="form-group"></div>
                        <br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                    <button type="button" id="tag-modal-save" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="spec-modal" tabindex="-1" role="dialog">
    <div style="display:table;height:100%;width:100%;">
        <div class="modal-dialog" role="document" style="display:table-cell;vertical-align: middle;">
            <div class="modal-content" style="width:inherit;height:inherit;margin: 0 auto;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">请选择房间</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" id="room-list-table">
                        <thead>
                        <tr>
                            <th>房间 ID</th>
                            <th>房间名</th>
                            <th>主播登录名</th>
                            <th>主播昵称</th>
                            <th>选择</th>
                        </tr>
                        </thead>
                        <tbody id="room-list-body">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                    <button type="button" id="room-modal-save" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block tail %}
{{ super() }}
{{ lib.form_js() }}
{% endblock %}
{% block tail_js %}
{{ super() }}
<script>
    function all_btn_selected(){
        $('#all-btn').removeClass('btn-default').addClass('btn-info');
        $('#tag-btn').removeClass('btn-info').addClass('btn-default');
        $('#spec-btn').removeClass('btn-info').addClass('btn-default');
    }
    function tag_btn_selected(){
        $('#tag-btn').removeClass('btn-default').addClass('btn-info');
        $('#all-btn').removeClass('btn-info').addClass('btn-default');
        $('#spec-btn').removeClass('btn-info').addClass('btn-default');
    }
    function spec_btn_selected(){
        $('#spec-btn').removeClass('btn-default').addClass('btn-info');
        $('#tag-btn').removeClass('btn-info').addClass('btn-default');
        $('#all-btn').removeClass('btn-info').addClass('btn-default');
    }

    if ($('#range').val() == 'tag') {
        tag_btn_selected();
    }
    else if ($('#range').val() == 'spec') {
        spec_btn_selected();
    }
    else {
        all_btn_selected();
    }

    $('#all-btn').click(function(){
        all_btn_selected();
        $('#display-panel').val('');
        $('#range').val('all');
    });
    $('#tag-btn').click(function(){
        tag_btn_selected();
        $('#range').val('tag');
    });
    $('#spec-btn').click(function(){
        spec_btn_selected();
        $('#range').val('spec');
    });

    $('#tag-modal').on('show.bs.modal', function (event) {
        var tag_list = [];
        $.get('{{ url_for("broadcast.get_tags") }}', function(data){
            var tags = data.tags;
            $('#compere-tag-btn').empty();
            for (var i=0; i < tags.length; i++) {
                $('#compere-tag-btn').append('<button style="margin:2px 2px;" class="btn btn-info tag-option-btn" type="button" id="tag-' + tags[i].id + '" value="' + tags[i].id + '">' + tags[i].name + '</button>');
                tag_list.push({id: tags[i].id, text: tags[i].name});
            }

            $('.tag-option-btn').click(function(e){
                if ($('#compere-tag-select').val() == "") {
                    $('#compere-tag-select').val($(e.target).prop("value")).trigger("change");
                }
                else {
                    $('#compere-tag-select').val($('#compere-tag-select').val() + ',' + $(e.target).prop("value")).trigger("change");
                }
            });
        });

        $('#compere-tag-select').select2({tags: tag_list});
    });

    $('#tag-modal-save').click(function() {
        var data = $('#compere-tag-select').select2('data');
        var text_list = data.map(function(i) { return i.text; });
        var id_list = data.map(function(i) { return i.id; });
        $('#display-panel').val(text_list.join(','));
        $('#target').val(id_list.join(','));
        $('#tag-modal').modal('hide');
    });

    $('#spec-modal').on('show.bs.modal', function (event) {
        var room_list = [];
        $.get('{{ url_for("broadcast.get_rooms") }}', function(data){
            var rooms = data.rooms;
            $('#room-list-body').empty();
            for (var i=0; i < rooms.length; i++) {
                $('#room-list-body').append('<tr class="selectable-row" data-id="' + rooms[i].room_id + '"><td>' + rooms[i].room_id +
                    '</td><td>' + rooms[i].room_name +
                    '</td><td>' + rooms[i].login_name +
                    '</td><td>' + rooms[i].display_name +
                    '</td><td class="selection-indicator"></td></tr>');
            }
            $('.selectable-row').on('click', function(event) {
                if($(this).hasClass('info row-selected')){
                    $(this).removeClass('info row-selected');
                    $(this).find('.selection-indicator').empty();
                } else {
                    $(this).addClass('info row-selected');
                    $(this).find('.selection-indicator').append('<span class="glyphicon glyphicon-ok text-success"></span>');
                }
            });
        });
    });

    $('#room-modal-save').click(function() {
        var room_list = [];
        $('.row-selected').each(function(i, obj) {
            console.log($(this).data('id'));
            room_list.push($(this).data('id'));
        });
        console.log(room_list);
        $('#display-panel').val(room_list.join(','));
        $('#target').val(room_list.join(','));
        $('#spec-modal').modal('hide');
    });

    $('.stop-btn').on('click', function(){
        return confirm("您确定要停止此广播吗？");
    });

    $('.restart-btn').on('click', function(){
        return confirm("您确定要重新启动此广播吗？");
    });

</script>
{% endblock %}