{% extends 'base.html' %}
{% block body %}
<h2 style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif,'Microsoft Yahei','微软雅黑'">其他信息</h2>
<table class="table table-striped table-bordered table-hover">
    <tbody>
    <tr>
        <th>UUID</th><td>{{ uuid }}</td>
    </tr>
    <tr>
        <th>设备ID</th><td>{{ device_id }}</td>
    </tr>
    <tr>
        <th>等级</th><td>{{ level }}</td>
    </tr>
    <tr>
        <th>经验</th><td>{{ exp }}</td>
    </tr>
    <tr>
        <th>VIP</th><td>{{ vip }}</td>
    </tr>
    <tr>
        <th>琥珀</th><td>{{ amber }}</td>
    </tr>
    </tbody>
</table>
{% endblock %}