{% extends 'base.html' %}
{% block body %}
<h2 style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif,'Microsoft Yahei','微软雅黑'">{{ title }}</h2><hr>
<form method="POST" action="{{ action }}" id="edit_form">
        {{ form.hidden_tag() }}
        {{ form.hidden }}

    <div class="row" style="position: relative;">
        <div class="col-xs-2">
            <div class="form-group">
                {{ form.query_type.label }}
                {{ form.query_type(class="form-control") }}
            </div>
        </div>
        <div class="col-xs-8" style="bottom: 0; left: 16.66666667%; position: absolute;">
            <div class="form-group">
                <label id="query_label"></label>
                {{ form.query_info(class="form-control") }}
            </div>
        </div>
        <div class="col-xs-2" style="bottom: 0; left: 83.33333333%; position: absolute;">
            <div class="form-group">
                <button class="btn btn-primary" id="query" type="button">查询</button>
            </div>
        </div>
    </div>
    <div class="text-danger" id="query_msg"></div>
    <br>

    <div class="row">
        <div class="form-group col-xs-5">
            {{ form.room_id.label }}
            {{ form.room_id(class="form-control") }}
        </div>

        <div class="form-group col-xs-7">
            {{ form.room_name.label }}
            {{ form.room_name(class="form-control") }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-5">
            {{ form.compere_id.label }}
            {{ form.compere_id(class="form-control") }}
        </div>

        <div class="form-group col-xs-7">
            {{ form.login_name.label }}
            {{ form.login_name(class="form-control") }}
        </div>
    </div>
    <br>
    <div class="form-group">
        {{ form.img_url.label }}
        {{ form.img_url(class="form-control", id="img_url") }}
    </div>

    <div class="form-group">
        <label>选择图片</label>
        {{ form.img }}
    </div>

    <div class="form-group" style="display:inline-block">
        <button class="btn btn-primary btn-sm" id="upload_btn" type="button" disabled>上传图片</button>
        <div class="text-danger" id="upload_msg" style="float:right; margin-left: 20px;"></div>
    </div>
    <p class="help-block">{{ form.help_msg }}</p><br>

    <div class="row">
        <div class="form-group col-xs-4">
            {{ form.banner_type.label }}
            {{ form.banner_type(class="form-control") }}
        </div>
        <div class="col-xs-1"></div>
        <div class="form-group col-xs-4">
            {{ form.position.label }}
            {{ form.position(class="form-control") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.redirect_url.label }}
        {{ form.redirect_url(class="form-control",disabled=True) }}
    </div>

    <br>
    <div class="form-group">
        {{ form.save(class="btn btn-primary") }}
        <a href="{{ cancel }}">{{ form.cancel(class="btn btn-default", type="button") }}</a>
    </div>
</form>
{% endblock %}
{% block tail_js %}
{{ super() }}
<script>
    function show_query_label(){
        if ($('#query_type').val() == "room_id") {
            $('#query_label').text("房间 ID");
        }
        else if ($('#query_type').val() == "login_name") {
            $('#query_label').text("主播登录名");
        }
    }

    show_query_label();

    $('#query_type').on('change', function(){
        $('#query_info').val('');
        show_query_label();
    })

    $('#query').on('click', function(){
        if ($('#query_info').val() == '') {
            $('#query_msg').text("* " + $('#query_label').text() + "不能为空");
        }
        else {
            $.ajax({
                url: "{{ query_info }}",
                type: 'GET',
                data: {type: $('#query_type').val(), value: $('#query_info').val()},
                contentType: false,
                dataType: 'json',
                success: function(response){
                    if ("error_msg" in response) {
                        $('#query_msg').text("* " + response.error_msg);
                    }
                    else {
                        $('#room_id').val(response.room_id);
                        $('#room_name').val(response.room_name);
                        $('#compere_id').val(response.compere_id);
                        $('#login_name').val(response.login_name);
                    }
                }
            });
        }
    })

    $('#upload_btn').on('click', function(){
        var data = new FormData();
        var img = $('#img').prop('files')[0];
        data.append('img', img);

        $.ajax({
            url: "{{ url_for('image_upload') }}",
            type: 'POST',
            data: data,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: function(response){
                $('#upload_msg').empty();
                $('#img_url').val(response.img_url);
            },
            error: function(response){
                $('#upload_msg').text('* ' + response.responseText);
            }
        });
    });

    $('#img').on('change', function(){
        $('#upload_btn').prop('disabled', ($('#img').val() == ''));
    })

    $('#banner_type').on('change', function(){
        if ($('#banner_type').val() == 'web') {
            $('#redirect_url').prop('disabled', false);
        }
        else {
            $('#redirect_url').val('');
            $('#redirect_url').prop('disabled', true);
        }
    })
</script>
{% endblock %}