{% extends 'admin/model/list.html' %}
{% block body %}
{{ super() }}
<div id="popover-account-form" class="hide">
    <form method="POST" id="hidden-account-form" class="form-inline">
        {{ account_form.hidden_tag() }}
        {{ account_form.hidden }}
        <div class="form-group">
            {{ account_form.date(class="form-control", id="hidden-account-date") }}
            {{ account_form.custom(class="form-control hide", id="hidden-account-custom") }}
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
        </div>
    </form>
</div>
<div id="popover-room-form" class="hide">
    <form method="POST" id="hidden-room-form" class="form-inline">
        {{ room_form.hidden_tag() }}
        {{ room_form.hidden }}
        <div class="form-group">
            {{ room_form.date(class="form-control", id="hidden-room-date") }}
            {{ room_form.custom(class="form-control hide", id="hidden-room-custom") }}
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
        </div>
    </form>
</div>
{% endblock %}
{% block tail %}
{{ super() }}
<script>
    $('.account-block').popover({
        container: 'body',
        html: true,
        content: function() {
            var form = $('#hidden-account-form').clone().attr("id", "account-form").attr("action", $(this).attr("data-action"));
            form.find("#hidden-account-date").attr("id", "account-date");
            form.find("#hidden-account-custom").attr("id", "account-custom").width(50);
            return form;
        }
    });

    $('body').on('change', '#account-date', function(){
        if ($('#account-date').val() == "custom") {
            $('#account-custom').removeClass("hide");
        }
        else {
            $('#account-custom').addClass("hide");
        }
    });

    $('.room-block').popover({
        container: 'body',
        html: true,
        content: function() {
            var form = $('#hidden-room-form').clone().attr("id", "room-form").attr("action", $(this).attr("data-action"));
            form.find("#hidden-room-date").attr("id", "room-date");
            form.find("#hidden-room-custom").attr("id", "room-custom").width(50);
            return form;
        }
    });

    $('body').on('change', '#room-date', function(){
        if ($('#room-date').val() == "custom") {
            $('#room-custom').removeClass("hide");
        }
        else {
            $('#room-custom').addClass("hide");
        }
    });
</script>
{% endblock %}